{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        body {
            padding-left: 100px;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="form-group row">
    {{ form_start(form) }}
    <div class="col-xs-2">
    {{ form_row(form.username, {'attr':{'class':'form-control'}}) }}
    </div>
    {{ form_row(form.email,{'attr':{'class':'form-control'}}) }}
    {{ form_row(form.plainPassword) }}
    {{ form_row(form.register,{'attr':{'class':'btn btn-primary'}}) }}
    {{ form_end(form) }}
    </div>
{% endblock %}
